body {
    background-color: rgb(99, 242, 242);
}

.container {
    border: 5px solid rgb(84, 70, 70);
    margin: auto;
    width: 30%;
    padding: 10px;
    
    border-radius: 20px;
    background-color: rgb(90, 184, 143);

}

h1 {
    text-align: center;
}