body {
    background-color: rgb(99, 242, 242);
}

.container {
    border: 5px solid rgb(84, 70, 70);
    margin: auto;
    width: 30%;
    padding: 10px;
    
    border-radius: 20px;
    background-color: rgb(90, 184, 143);

}

h1 {
    text-align: center;
}

input {
    border: 2px solid;
    border-radius: 5px;
    height: 25px;
}

p {
    font-size: large;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    height: 45px;
    width: 100px;
    margin: auto;
    padding: auto;
    border: 2px solid rgb(13, 13, 13);
    border-radius: 10px;
    
    
}

textarea {
    border: 4px solid;
    width: 70%;
    border-radius: 5px;
}

button.red {
    background-color: brown;
    
}

button.blue {
    background-color: aqua;
}

button.green {
    background-color: green;
}

button.pink {
    background-color: pink;
}

button.submit {
    margin-top: 7px;
    background-color: beige;
}

input.address {
    margin-bottom: 10px;
}
